<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.soleil.offerwall" >

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:theme="@style/Theme.Offerwall" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    
	    <activity android:name=".activity.SettingsActivity"
		    android:label="Settings"
		    />

	    <activity android:name="com.parse.ui.ParseLoginActivity" >
	    <meta-data
		    android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
		    android:value="true"/>
		    <meta-data
			    android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
			    android:value="true"/>
		    <meta-data
			    android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
			    android:value="true"/>
	    </activity>

	    <activity android:name="com.facebook.LoginActivity" />

	    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />

	    <receiver android:name="tw.soleil.core.service.InstallerReceiver" >
		    <intent-filter>
			    <action android:name="android.intent.action.PACKAGE_ADDED" />
			    <action android:name="android.intent.action.PACKAGE_CHANGED" />
			    <action android:name="android.intent.action.PACKAGE_REMOVED" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <data android:scheme="package" />
		    </intent-filter>
	    </receiver>
    </application>

</manifest>
